* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(252, 241, 241);
  max-width: 1440px;
  margin: 0 auto;
  
}

.main,
footer {
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  max-width: 1440px;
  
}

header {
  background: rgb(252, 241, 241);
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 10px;
  max-width: 1440px;
  
}
.menu_bar {
  display: none;
}

.pie {
  width: 100%;
  background: #ffffff;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: none;
}

.links_arba {
  max-width: 100px;
  min-width: auto;
}
.links_afip {
  max-width: 120px;
  min-width: auto;
}

@media screen and (max-width: 1067px) {
  .pie {
    display: flex;
    }
  .logosredes {
    width: 50%;
  }
  .logos_Links{
    width: 50%;
  }
 
}
