.main .articles {
  width: 68.5%;
  float: left;
  margin-right: 1.5%;
}
.main .articles article {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  line-height: 20px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.main .articles article ul {
  list-style-position: inside;
}
.main .articles article img {
  border-radius: 10px;
}
aside {
  width: 29.5%;
  background: #ffffff;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

footer {
  background: #75acec;
  color: #fff;
  clear: both;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
  
}

img.logos {
  width: 55px;
  height: 55px;
}
img.links {
  width: 25%;
  height: 25%;
}

@media screen and (max-width: 1068px) {
  aside {
   display: none;
  } 
  .main .articles {
    width: 100%;
    float: left;
    margin-right: 1.5%;
  }

}